@import "../../../../assets/styles/variables.scss";

.go-back-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 4px;
  top: 30px;
  left: 0;
  align-items: flex-end;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $yellow !important;
    color: $yellow !important;
    font-size: 16px;
  }
  a {
    display: flex;
    text-decoration: none;
    color: $yellow;
    font-size: 18px;
  }
}

.go-back-button:hover {
  mat-icon {
    fill: $blue !important;
    color: $blue !important;
  }
  a {
    color: $blue;
  }
}
